@font-face {
  font-family: "Plantagen";
  src: url("../../assets/fonts/Plantagen/Plantagen-Regular.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SangBleu";
  src: url("../../assets/fonts/SangBleu/SangBleuKingdom-Medium-WebS.woff2");
}
