@import url("./fonts.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Plantagen", sans-serif;
  font-weight: normal;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@layer components {
  .spinner {
    width: 30px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 4px solid theme("colors.plantagen.soil");
    border-right-color: theme("colors.plantagen.beige");
    animation: rotate 1s infinite linear;
  }

  @keyframes rotate {
    to {
      transform: rotate(1turn);
    }
  }
}
